
.section-content {
    background: rgba(240, 223, 209, 0.993);
    border-radius: 20px;
}
li {
    margin-bottom: 0;
    padding-left: 0;
    margin:20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline;
}

li a {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    color: #4d4d4d;
    border-bottom: 2px solid transparent;
    padding: 36px 0 30px;
}

