.App {
  text-align: center;
  background:#efdfd1;

}
.fa, .fas {
  font-weight: 900;
  font-size: 25px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
a {
  color:orange;
}
section-dark {
  background: #333;
  color: white;
}

.Project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}



@media screen and (max-width: 800px) {

  .Project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

  }
}

@media (min-width: 768px) {
  .burger-menu  {
    display: none;
    height:1900px;
}

}

@media (max-width:700px) {
  .plain-menu {
    display:none
  }
}
