.App {
  text-align: center;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}