.App {
  text-align: center;
  background:#efdfd1;

}


p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
a {
  color:orange;
}
section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}
.Project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}

.carousel.carousel-slider {
  margin: 0;
  margin-left: 400px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}
.carousel .slider {
margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}  
.Nasa-img {
  width: 200%;
  height: 200px;
  size: 100px;
  vertical-align: top;
  /* border: 0; */
}

@media screen and (max-width: 800px) {

  .Project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

  }
}

@media (min-width: 768px) {
  .burger-menu  {
    display: none;
    height:1900px;
}

}

@media (max-width:700px) {
  .plain-menu {
    display:none
  }
}
